.container {
  margin-top: 9rem;
  display: flex;
  flex-direction: row;
  font-family: Poppins;
}

.main {
  width: 70%;
  /* padding: 3rem; */
  padding: 0 2rem 0rem 2rem;
}

.reviews {
  width: 30%;
  padding: 0 2rem 4rem 2rem;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.header__right {
  width: 40%;
    display: flex;
    flex-direction: column;
  height: 100%;
  font-weight: 500;

}

.header__right p {
  height: 20%;
  width: 100%;
  display: flex;
  align-items: center;
  
}

.header__right h1 {
    height: 20%;
    width: 100%;
    margin-top: 8px;
    text-align: center;
}

.details {
    display: flex;
    flex-direction: column;
    margin: 0 0 0 1rem;
}

