.layout {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    margin-top: 10rem;
    width: 100vw;
}
.bootcamps {
    display: flex;
    height: auto;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem;
    padding-top: 0;
    width: 65%;
}

.filter {
    height: 30rem;
    background-color: #F3F5F9;
    border-radius: 1rem;
    padding: 2rem;
    width: 100%;
    /* margin-right: 2rem; */
}

.misc {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 23%;
}

.quote {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 100%;
    background-color: #F3F5F9;

}


